{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <h1>hello</h1>
    <h1><span>{{ curso }}</span></h1>
    <img src="{% static 'images/BTW-DIGITAL.jpg' %}" alt="B2W Digital">
    <button onclick=" clicar() ">Clique aqui</button>
    <!-- restante do código do body -->

    <script src="{% static 'javascript/script.js' %}"></script>
</body>

</html>