{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title> HOME </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="https://www.ifnmg.edu.br/cursos-janu1/cursos-superiores/429-portal/januaria/januaria-cursos-superiores/bacharelado-em-sistemas-de-informacao/17728-bacharelado-em-sistemas-de-informacao">BSI
            - IFNMG</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" onclick=" location.href='/home/'">HOME <span class="sr-only">(página atual)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick=" location.href='/w3c/'">W3C</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Desenvolvimento Web
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" onclick=" location.href='/html/'">HTML</a>
                        <a class="dropdown-item" onclick=" location.href='/css/'">CSS</a>
                        <a class="dropdown-item" onclick=" location.href='/javascript/'">Javascript</a>
                        <a class="dropdown-item" onclick=" location.href='/frontend/'">Frameworks Frontend</a>
                        <a class="dropdown-item" onclick=" location.href='/backend/'">Frameworks Backend</a>
                    </div>
                </li>

            </ul>
            <button type="button" class="btn btn-outline-dark"> <a
                    href="https://getbootstrap.com/docs/5.0/getting-started/download/"
                    style="text-decoration: none;">Baixar o Bootstrap</a> </button>
        </div>
    </nav>


    <div class="jumbotron">

        <div>
            <img src="{% static 'images/sistemas_info.png' %}" alt="Sistemas de Informação" class="img-center" >
        </div>
        <h1 class="display-4">Desenvolvimento Web Avançado</h1>
        <p class="lead">Seu guia rápido de consulta sobre as principais tecnologias de desenvolvimento Web</p>
        <hr class="my-4">
        <h2>Aplicações Frontend</h2>
        <p>São responsável pela apresentação do software, chamado de client-side. É o código que roda no navegador (cliente). Trabalham com linguagens como HTML, CSS e JavaScript, além de frameworks e bibliotecas, como Angular, React, Vue.JS, etc. Não precisam
            conhecer como desenvolver código de backend, mas é importante que conheçam os fundamentos sobre arquitetura de software. Vale ressaltar que tanto o programador frontend quanto o backend precisam conhecer HTTP...
        </p>
        <a class="btn btn-outline-primary btn-sm" href="https://blog.algaworks.com/back-end-front-end-full-stack/" role="button">Leia mais</a>

        <hr class="my-4">

        <h2>Aplicações Backend</h2>

        <p>
            Código que é escrito para rodar no servidor (HTTP), também conhecido como server-side. Fornece e garante todas as regras de negócio, acesso a banco de dados, segurança e escalabilidade.
        </p>
        <a class="btn btn-outline-primary btn-sm" href="https://www.linkedin.com/pulse/back-end-front-end-e-fullstak-andr%C3%A9-ribeiro/?originalSubdomain=pt" role="button">Leia mais</a>
    </div>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>

</html>
